@media screen and (max-width: 1200px)
  .address-detail
    .transaction-list-content-table
      border-top 0

    .transaction-list-content
      padding 0
      padding-bottom 18px !important
      margin-bottom 12px

      .ant-table
        table
          width 1200px

    .address-ct
      flex-direction column

      .address
        word-wrap break-word
        word-break normal
        margin-top 8px

    .ant-radio-group
      margin 13 0 20px 0

    .ant-radio-button-wrapper
      border-radius 4px !important
      margin 5px 15px 0 0

    .transactionss-title-img
      img
        width 12px
