.transaction
  margin-bottom 230px
  height 728px
  background #FFFFFF
  border-radius 24px
  overflow hidden

  .transaction-list-content
    padding 0

    .blocks-title
      padding-left 24px

.transaction-detail-info
  margin-top 22px
  padding 0 24px
  border-top 1px solid #f5f5f5

  .info-line
    height 80px
    line-height 80px
    display flex

    >div
      flex 1
      display flex

      &:first-child
        width 156px

    &:not(:first-child)
      border-top 1px solid #f5f5f5

    .td-color
      cursor pointer

      span
       color #00D0C3

      img
        width 24px
        height 24px
        margin-left 12px

      >.text-hidden
        overflow hidden
        text-overflow ellipsis
        white-space nowrap
        cursor pointer

    span
      font-size 14px
      color #999999

      &:first-child
        width 156px

      &:last-child
        color #333333

      &.td-color
        color #00D0C3
        cursor pointer

.info-data-list
  border-top 1px solid #f0f2f5
  color #666666
  font-size 14px
  padding 12px 0
  word-break break-all

.no-data
  height 110px
  line-height 110px
  text-align center !important
  color #ccc !important
  font-size 16px !important
  padding 0 !important

@media screen and (max-width: 1200px)
  .info-data-list
    border-top 0
    line-height normal
    padding 14px 12px
    overflow-x scroll

  .transaction-detail-info
    padding 0 12px
    margin-top 0
    // margin-bottom 16px

    .info-row
      span
        font-size 13px

    .info-line
      border-top 0
      height 72px
      width 100%
      align-items center
      line-height 22px

      .td-color
        flex 1

      .txid-text
        word-break break-all

      .txid-copy
        display none

      >span
        font-size 12px
        .td-color
          display flex

        &:last-child
          word-break break-all
          flex 1

      .leable
        width 80px !important

      .info-right
        width auto

      .info-row
        line-height normal
        margin-top 16px
        height auto

        span
          &:last-child
            padding-right 0
            font-size 13px

      .mobile-line
        flex-direction column

        span
          &:last-child
            margin-top 8px
            word-break break-all



