// 表格操作按钮
.table-btn-group
  .table-link-btn
    margin-right 5px
    cursor pointer

.show-on-mobile
  display: none !important

@media screen and (max-width: 1200px)
  .show-on-mobile
    display: flex !important
