@require './iconfont/font.css'
@require './vars'
@require './common'
@require './layouts/*'
@require './components/**/*'
@require './containers/**/*'
@require './containers/*'

*
	vertical-align baseline
  box-sizing border-box

html
	line-height normal
	font-family "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif

a
	color inherit
	text-decoration inherit
