// Dimenssions
$gap = 15px
$radius = 5px

// Colors
$main-bg = #eaedfe
$white = #fff
$green = #19966f
$blue = #407ee6
$light-blue = #3498db
$lighter-blue = #79bce8
$light-black = #333
$grey10 = #333333
$darkest-grey = #666
$simple-grey = #999

$lapis-blue = #122075
$sky-blue = #00D0C3
$whale-blue = #394263
$slate-blue = #32519c
$lighter-grey = #f5f5f5
$blue2 = #00D0C3
$main-font = #122075
$grey6 = #666

