.footer
  height 57px
  border-top 2px solid #E8F0EC
  font-size 14px
  color #999
  text-align center
  line-height 57px


@media screen and (max-width: 1200px)
  .footer
    display block
    height 56px
    line-height 56px
    font-size 13px
