.branch-list
  .transaction-list-content
    padding-top 24px
    margin-bottom 0

  .table-row
    display flex
    justify-content space-between

    .table-item
      width 584px

@media screen and (max-width: 1200px)
  .branch-list
    .transaction-list-content
      padding 0

    .table-row
      flex-direction column

      .table-item
        width 100%
        margin-bottom 13px


