.page-login
  min-height 100vh
  background-color $light-grey
  padding $gap
  display flex
  justify-content center
  align-items center

  .form
    background-color $white
    padding $gap * 2
    border-radius $radius
    width 350px

    h2
      margin-bottom 30px
      text-align center

    .checkbox-box
      padding-left 8px

    .login-btn-box
      text-align center
      margin-top 50px

      .ant-btn
        width 180px
